CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic=y
CONFIG_TARGET_ar71xx_generic_DB120=y
CONFIG_PACKAGE_boardfarm-coop-prep=y
CONFIG_PACKAGE_kmod-ledtrig-usbdev=y
# CONFIG_PACKAGE_kmod-scsi-core is not set
CONFIG_PACKAGE_kmod-usb-ohci=y
# CONFIG_PACKAGE_kmod-usb-storage is not set
CONFIG_PACKAGE_libbfd=y
CONFIG_PACKAGE_libbz2=y
CONFIG_PACKAGE_libdw=y
CONFIG_PACKAGE_libelf1=y
CONFIG_PACKAGE_libopcodes=y
CONFIG_PACKAGE_libpthread=y
CONFIG_PACKAGE_librt=y
CONFIG_PACKAGE_objdump=y
CONFIG_PACKAGE_perf=y
CONFIG_PACKAGE_uboot-ar71xx-nbg460n_550n_550nh=y
CONFIG_PACKAGE_zlib=y
